@import url('https://fonts.cdnfonts.com/css/cascadia-code');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Cascadia Code', 'Noto Sans SC' !important;

  .font-mono {
    font-family: 'Cascadia Code', 'Noto Sans SC';
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.react-img-editor-palette {
  height: auto !important;
}